/* --FONTS-- */

@font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora.woff2') format('woff2'), 
         url('/fonts/Sora/Sora.woff') format('woff'), 
         url('/fonts/Sora/Sora.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand/Quicksand.woff2') format('woff2'), 
         url('/fonts/Quicksand/Quicksand.woff') format('woff'), 
         url('/fonts/Quicksand/Quicksand.ttf') format('truetype');
    font-weight: 300 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter.woff2') format('woff2'), 
         url('/fonts/Inter/Inter.woff') format('woff'), 
         url('/fonts/Inter/Inter.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

/* --GLOBAL-- */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --background-color: #F4F5FA;
    --input-background-color: #FFFFFF;
    --element-background-color: #FFFFFF;
    --primary-font-color: #444D7B;
    --button-background-color: #63C6A7;
    --button-font-color: #FFFFFF;
    --selected-background-color: #D6DCFF;
    --hover-background-color: #E7FFF7;
    --bio-player-font-color: #C3C3C3;
    --sub-text-color: #D8D6D6;
    --scored-by-color:#18D02B;
    --assist-by-color: #2974E4; 
    --turnover-by-color: #ED4444;
    --block-by-color: #FFC738;

    /* FONTS */
    --primary-font-family: 'Sora', sans-serif;
    --secondary-font-family: 'Quicksand', sans-serif;
    --tertiary-font-family: 'Inter', sans-serif;

    /* BOX SHADOW */
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

body{
    background-color: var(--background-color);
    /* cursor: url("/images/magicwand.png"), auto; */
    margin: 0;
    overflow: hidden;
}  

/* .cursor{
    width: 20px;
    height: 20px;
    border: 1px solid red;
    position: absolute;
    opacity: 0;
    transition: 0.1s linear;
} */

main{
    padding: 6rem 3.5rem;
}

header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

input, textarea{
    outline: none;
    padding: 2vh;
    border-radius: 20px;
    border: none;
    box-shadow: var(--box-shadow);
}

input[type="text"], 
input[type="number"], 
input[type="date"],
input[type="search"], 
textarea{
    font-size: 1.2rem;
    font-family: var(--tertiary-font-family);
    color: var(--primary-font-color)
}

textarea::placeholder,
input::placeholder{
    font-size: 1.2rem;
    font-style: italic;
    font-family: var(--tertiary-font-family);
    font-weight: 300;
    color: var(--primary-font-color);
}

/* button{
    background-color: var(--button-background-color);
    color: var(--button-font-color);
    border-radius: 25px;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    border: none;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 1rem;
} */

button{
    background-color: transparent;
    border: none;
}

a{
    text-decoration: none;
    /* cursor: url("/images/magicwand.png"), auto; */
}

h1, 
h2 {
    font-family: var(--primary-font-family);
    font-size: clamp(1rem, 4.2vw, 4rem);
    font-weight: 800;
    color: var(--primary-font-color);
}

.subtitle-large{
    font-family: var(--primary-font-family);
    font-size: clamp(0.8rem, 2vw, 3.5rem);
    font-weight: 800;
    color: var(--primary-font-color);
}

.subtitle-medium {
    font-family: var(--secondary-font-family);
    font-size: clamp(0.7rem, 2vw, 3rem);
    font-weight: 400;
    color: var(--primary-font-color);
    margin-bottom: 0.5rem;
}

.subtitle-small {
    font-family: var(--secondary-font-family);
    font-size: clamp(0.6rem, 1.5vw, 2.5rem);
    font-weight: 400;
    color: var(--primary-font-color);
}

/* UTILITY CLASSES - NOG EVEN OVERLEGGEN MET TEAM*/


/* .placeholder-text{
    font-family: var(--tertiary-font-family);
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    color: var(--primary-font-color);
}

.player-name{
    font-family: var(--primary-font-family);
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-font-color);
} */


/* CREATIVE CODING ANIMATIONS */

.trail-item{
    position: absolute;
    width: 20px;
    height: 20px;
    animation: sparkleAnimation 1s linear infinite;
}

.kapow{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 10000;
    transform: translateX(-50%) translateY(-50%) scale(0);
}

.kapowAnimation{
    animation: kapowAnimation 1s linear;
}

@keyframes kapowAnimation{
    0%{ 
        transform: translateX(-50%) translateY(-50%) scale(0);
    }
    50%{
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    100%{
        transform:translateX(-50%) translateY(-50%)  scale(0);
    }
}

@keyframes sparkleAnimation{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

/* SCARY SMILEY ANIMATION */

.teeth-animation{
    animation: showTeeth 0.5s linear forwards;
}
		
.mouth-animation{
    animation: open-mouth var(--anim-timing) linear forwards;
}

.eye-big-right-animation{
    animation: close-open-right-eye-anim var(--anim-timing) ease-in;
}

.eye-big-left-animation{
    animation: close-open-left-eye-anim var(--anim-timing) ease-in;
}

.eye-small-animation{
    animation: show-eye var(--anim-timing) linear forwards;
}

svg{
    pointer-events: none;
    inset: 0;
    margin: auto;
    position: absolute;
    opacity: 0;
    transform: scale(0);
}

.svg-animation{
    animation: svg-animation 4s linear forwards;
}

@keyframes svg-animation{
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(3);
    }
}

button{
    cursor: pointer;
}
:root{
    --anim-timing: 0.1s;
}

.teeth{
    opacity: 0;
}

@keyframes showTeeth{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes open-mouth {
    0% {
        d: path("M650 368.57C650 382.377 515.685 393.57 350 393.57C184.315 393.57 50 382.377 50 368.57C50 354.763 184.315 343.57 350 343.57C515.685 343.57 650 354.763 650 368.57Z");
    }

    100% {
        d: path("M650 493.57C650 576.413 515.685 643.57 350 643.57C184.315 643.57 50 576.413 50 493.57C50 410.727 184.315 343.57 350 343.57C515.685 343.57 650 410.727 650 493.57Z");
    }
}


@keyframes close-open-right-eye-anim{
    0%{
        cx:442.085; cy:224.448; rx:50; ry:100;
    }
    80%{
        cx:442.085; cy:228.989; rx:50; ry:7.77203;
    }
    100%{
        cx:442.085; cy:224.448; rx:50; ry:100;
    }
}

@keyframes close-open-left-eye-anim{
    0%{
        cx:250.523; cy:224.448; rx:50; ry:100;
    }
    80%{
        cx:250.523; cy:228.989; rx:50; ry:7.77203;
    }
    100%{
        cx:250.523; cy:224.448; rx:50; ry:100;
    }
}

.eye-small{
    opacity: 0;
}

@keyframes show-eye{
    0%{
        opacity: 0;
    }

    80%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
